* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

*::selection {
    background-color: rgb(141, 22, 22);
    color: rgb(14, 14, 129);
}

body {
    background-color: black;
    height: 100%;
}

.all {
    position: relative;
    height: 100vh;
    width: 100%;
}

.all::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/deepweb-darkweb.jpg) no-repeat;
    background-position: center;
    background-repeat: cover;
    filter: blur(15px); /* Elige un valor para el desenfoque */
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 6rem;
    width: 100%;
}

.audiov p {
    font-size: 18px;
    color: white;
    margin: 30px 10px;
    text-align: center;
}

.audiov audio {
    width: 80vw;
    background-color: #800000;
}

h1 {
    color: white;
    font-size: 40px;
}

.bkcl {
    background: url(../img/013.gif);
    background-position: center;
    background-size: cover;
    border-radius: 10%;

    height: auto;
    width: auto;
    color: rgb(141, 22, 22);
    margin-bottom: 50px;
    margin-left: 10px;

    font-size: 22px;
    text-shadow: 0 0 2px #FF0000, 0 0 4px #FF0000, 0 0 6px #FF0000, 0 0 8px #FF0000, 0 0 10px #FF0000, 0 0 12px #FF0000, 0 0 14px #FF0000, 0 0 16px #FF0000, 0 0 18px #FF0000;
}

/* Welcome */

.hideme {
    height: 100px;
    width: 100px;
    background-color: #c91e1e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -40px;
    right: -40px;
}

.hideme h3 {
    color: white;
    float: right;
    font-size: 25px;
    margin-top: 1.6em;
    margin-right: 1em;
    color: black;
}

/* Media Queries */

@media screen and (max-width: 678px) {
    .bkcl {
        font-size: 18px;
    }

    h1 {
        font-size: 20px;
        display: block;
        width: 100vw;
        text-align: center;
    }

    hr {
        width: 100vw;
        background-color: red;
    }

    .audiov audio {
        background: none;
    }
}

@media screen and (max-width: 1000px) {
    .hideme {
        display: none;
    }
}